body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://i.etsystatic.com/23334810/r/il/c5ec4b/2320480180/il_fullxfull.2320480180_n2rk.jpg");
    background-size: cover;}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px ;

    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(240, 240, 240, 0.8); /* Fons semi-transparent per millorar la llegibilitat */
    z-index: 1000; /* Assegura que el header estigui per sobre del tauler */
}

h1 {
    margin: 0;
    font-size: 100px;
    text-transform: uppercase;
    color: rgb(248, 246, 246); /* Color de la lletra */
    text-shadow: -1px -1px 0 rgb(21, 21, 21),  
                  1px -1px 0 rgb(18, 17, 17),
                 -1px  1px 0 rgb(17, 17, 17),
                  8px  4px 0 rgb(24, 23, 23); /* Vora blanca al text */
  }


  .back-button {
    background-color: #161718; /* Color de fons del botó */
    color: white; /* Color del text del botó */
    border: none; /* Sense contorn */
    padding: 10px 20px; /* Espaiat interior del botó */
    cursor: pointer; /* Cursor apuntador al passar per sobre */
    text-decoration: none; /* Eliminar decoració d'enllaç */
    border-radius: 5px; /* Arrodonir les vores */
    text-transform: uppercase;
    margin-top: 10px;
  }
  
  .back-button a {
    color: #e6eaee; /* Color del text de l'enllaç dins del botó */
    text-decoration: none; /* Eliminar decoració d'enllaç */
  }
  
  .back-button:hover {
    background-color: #8bc34a; /* Color de fons del botó */
    color: #161718;
  }
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.video-card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.video-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.video-card iframe {
    width: 100%;
    height: 315px;
    margin-bottom: 10px;
}

.video-card button {
    background-color: #080809;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-transform: uppercase;
}

.video-card button:hover {
    background-color: #8bc34a; /* Color de fons del botó */
}

.lyrics {
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 300px; /* Limita l'alçada màxima */
    overflow-y: auto; /* Afegeix barra de desplaçament si el contingut és massa gran */
}

.lyrics.hidden {
    display: none;
}

.lyrics p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify; /* Justifica el text */
    white-space: pre-wrap; /* Manté els salts de línia */
    margin: 0; /* Elimina marges predeterminats */
    padding: 0 0 10px 0; /* Afegim espai entre paràgrafs */
}
